body {
  font-family: "Avenir Next W01", "Proxima Nova W01", "Rubik", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background-color: #f2f4f8;
  color: #334152;
  text-align: center;
}

.search .form-outline {
  width: 40% !important;
  background-color: white;
}

.content {
  background-color: white;
}

.text-left {
  text-align: left;
}